<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit Product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="<%= product.name %> "
      />
      <input
        type="number"
        name="price"
        id="price"
        placeholder="<%= product.price %> "
      />
      <select name="category" id="category">
        <option value="fruit">fruit</option>
        <option value="vegetable">veggie</option>
        <option value="dairy">dairy</option>
      </select>
      <button>submit</button>
    </form>
    <a href="/products">Cancel</a>
  </body>
</html>
